body{background-color:#fff}#auth{height:100vh;overflow-x:hidden}#auth #auth-right{height:100%;background-repeat: no-repeat !important;background-size: cover !important;background:url(../../images/bg/bg.jpg),linear-gradient(90deg,#2d499d,#3f5491)}#auth #auth-left{padding:5rem 8rem}#auth #auth-left .auth-title{font-size:4rem;margin-bottom:1rem}#auth #auth-left .auth-subtitle{font-size:1.7rem;line-height:2.5rem;color:#a8aebb}#auth #auth-left .auth-logo{margin-bottom:7rem}#auth #auth-left .auth-logo img{height:2rem}@media screen and (max-width:767px){#auth #auth-left{padding:5rem}}
.bgimgs{
	background-size:cover;
	width:100%;
    height:100%;

}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  justify-content: center;
}

.logo-imgs{

  width: 80px;
  height: 80px;
  /*padding-bottom: 20px;*/
  margin-bottom: 30px;
  background-color: white;
  border-radius: 50px;
}
.bglogo{
  background-color: white;
  border-radius: 50px;
}